{% extends 'core/base.html' %}
{% load static %}

{% block content%}
<!-- Presentación -->

<!-- Posts -->
<section>
    <header class="major">
        <h2>Artículos</h2>
    </header>
    <div class="paginator">
        <ul class="pagination">
            <li><span class="button disabled">Prev</span></li>
            <li><a href="#" class="page active">1</a></li>
            <li><a href="#" class="page">2</a></li>
            <li><a href="#" class="page">3</a></li>
            <li><span>&hellip;</span></li>
            <li><a href="#" class="page">8</a></li>
            <li><a href="#" class="page">9</a></li>
            <li><a href="#" class="page">10</a></li>
            <li><a href="#" class="button">Next</a></li>
        </ul>
    </div>
    <div class="posts">
        <article>
            <a href="generic.html" class="image"><img src="{% static 'core/img/pic01.jpg' %}" alt="" /></a>
            <a href="generic.html"><h3>Linea de comandos - Lo que todo desarrollador debe concoer</h3></a>
            <span class="tags-info">
                <a href="#"><i class="fa fa-tag" aria-hidden="true"></i></a>
                <a href="#">Flask</a>
                <a href="#">Scrapy</a>
                <a href="#">Python</a>
                <a href="#">Docker</a>
            </span>
        </article>
        <article>
            <a href="generic.html" class="image"><img src="{% static 'core/img/pic01.jpg' %}" alt="" /></a>
            <a href="generic.html"><h3>Linea de comandos - Lo que todo desarrollador debe concoer</h3></a>
            <span class="tags-info">
                <a href="#"><i class="fa fa-tag" aria-hidden="true"></i></a>
                <a href="#">Flask</a>
                <a href="#">Scrapy</a>
                <a href="#">Python</a>
                <a href="#">Docker</a>
            </span>
        </article>
        <article>
            <a href="generic.html" class="image"><img src="{% static 'core/img/pic01.jpg' %}" alt="" /></a>
            <a href="generic.html"><h3>Linea de comandos - Lo que todo desarrollador debe concoer</h3></a>
            <span class="tags-info">
                <a href="#"><i class="fa fa-tag" aria-hidden="true"></i></a>
                <a href="#">Flask</a>
                <a href="#">Scrapy</a>
                <a href="#">Python</a>
                <a href="#">Docker</a>
            </span>
        </article>
    </div>
    <div class="paginator">
        <ul class="pagination">
            <li><span class="button disabled">Prev</span></li>
            <li><a href="#" class="page active">1</a></li>
            <li><a href="#" class="page">2</a></li>
            <li><a href="#" class="page">3</a></li>
            <li><span>&hellip;</span></li>
            <li><a href="#" class="page">8</a></li>
            <li><a href="#" class="page">9</a></li>
            <li><a href="#" class="page">10</a></li>
            <li><a href="#" class="button">Next</a></li>
        </ul>
    </div>
</section>
{% endblock %}