{% extends 'posts/base.html' %}
{% load static %}

{% block content%}
<section>

    <header class="major">
        <h2>Featuring</h2>
    </header>

    <dl>
        <dt><a href="https://hotbook.com.mx/"><h3>"Hotbook - Magazine"</h3></a></dt>
        <dd>
            <p>Mainly responsible for the styling of the front page for the post and news section using Sass, CSS, HTML and Javascript.</p>
        </dd>
        <dt><a href="https://hotbookbazar.com/"><h3>"Hotbook Bazar Online"</h3></a></dt>
        <dd>
            <p>An ecommerce from Hotbook. I'm responsible for the styling of the whole site making modificaions in the landing pages, menus interation events in Javascript and ecommerce development using Woocomerce. </p>
        </dd>
        <dt><a href="https://tienda.gatopardo.com/"><h3>"Tienda Gatopardo"</h3></a></dt>
        <dd>
            <p>Gatopardo store is a magazine where I'm responsible of the style and user tracking of the ecommerce site.</p>
        </dd>
    </dl>

    <header class="major">
        <h2>MISC</h2>
    </header>

    <dl>
        <dt><a href="https://trigoymielsantafe.com/"><h3>"Trigo y Miel Santa Fe"</h3></a></dt>
        <dd>
            <p>I created this site based on a template for a church. I added some functionalities like streaming with Youtube and Facebook Live. Also added a newsletter pop up for people interested in receiving news and notifications. I added some style in CSS and HTML using Wordpress.</p>
        </dd>
        <dt> <a href="https://asianstreetfood.com.mx/"><h3>"Asian Street Food"</h3></a></dt>
        <dd>
            <p>Responsible for the creation of the site, web design, Whats App comunicaton channel with the clients to make orders and deploy using HTML, CSS, PHP and Worpress.</p>
        </dd>
    </dl>

</section>
{% endblock %}