{% extends 'posts/base.html' %}

{% block title %} About me{% endblock %}

{% block content%}
<section>
    <div class="content">
        <div class="row">
            <!-- Break -->
            <div class="col-12 col-12-medium">
                <h3>About me</h3>
                <p>Hi! My name is Francisco Garcia. I'm a software engineer. 
                    Currently living in CDMX Mexico most that an engineer I see myself as an artist that uses engineering to solve problems in creative ways. 
                    In my spare time, I like to learn new technologies, create characters for animated films and play around with shaders in GLSL.
                </p>
                <p>This page eventually will become a blog about Python technologies and web development and more than that, where I want to share my experience and techniques, I know there are hundreds of thousands of really good sites but however it never hurts, so you can find
                    interesting articles, tutorials, algorithms and more. Stay tuned.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="content">
        <div class="row">
            <!-- Break -->
            <div class="col-4 col-12-medium">
                <h3>Experience</h3>
                <p>I have experience in advanced techniques for extraction, cleaning, data visualization. 
                    Applying these skills in helping companies to measure the commercial
                    strategies to grow their business opportunities.</p>
            </div>
            <div class="col-4 col-12-medium">
                <h3>My tools</h3>
                <p>My stack is mainly based on Python, Django, Flask, HTML/CSS, Scrapy, PANDAS, Bootstrap, Javascript, 
                    MySQL, Postgres and more, for now, I'm doing some experiments with JS libraries and elasticsearch.</p>
            </div>
            <div class="col-4 col-12-medium">
                <h3>Interests</h3>
                <p>Really interested in data engineering, backend development, and Machine Learning techniques.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}