{% extends 'posts/base.html' %}
{% load static %}
{% block title %} My dashboard {% endblock %}
{% block content%}
<section>
    <header class="major">
        <h2>My Articles</h2>
    </header>
    
    {% if posts %}
    {% include "pagination.html" with page=posts %}
    {% endif %}
    <div class="my-posts"> 
        {% for post in posts %}
        <article>
            <p>{{post.created|date:'Y-m-d'}} <a href="#"><strong>{{ post.title }}</strong></a>
                <span class="tags-info">
                    <a>{{ post.status }}</a>
                </span>
            </p>
        </article>
        {% endfor %}
    </div>

    {% if posts %}
    {% include "pagination.html" with page=posts %}
    {% endif %}
    
</section>
{% endblock %}