{% extends 'posts/base.html' %}

{% block title %}{{ post.title }} {% endblock %}

{% block content %}
<!-- Content -->
<section>
    <header class="main">
        <h1>{{ post.title }}</h1>
    </header>

    <section class="author">
        <p class="author">Author: {{ post.author }}</p>
        <p class="author"><i class="fa fa-calendar" aria-hidden="true"></i> {{post.created}} | <i class="fa fa-clock-o"></i> 5 minutes | <i class="fa fa-tag" aria-hidden="true"></i> flask, django, scrapy</p>
    </section>
    <hr class="major">
    <section>
        <p>{{ post.body|safe }}</p>
    </section>

</section>

{% endblock %}