{% extends 'posts/base.html' %}
{% load static %}

{% block content%}
<!-- Posts -->
<section>
    <header class="major">
        <h2>Artículos</h2>
    </header>

    {% include "pagination.html" with page=posts %}

    <div class="posts">
        {% for post in posts %}
        <article>
            <a href="{{ post.get_absolute_url }}" class="image"><img src="{% if post.image %} {{ post.image.url }} {% else %} {% static 'posts/img/pic01.jpg' %}" alt="cover"/></a>
            <a href="{{ post.get_absolute_url }} {% endif%} "><h3>{{ post.title }}</h3></a>
            <span class="tags-info">
                <a href="#"><i class="fa fa-tag" aria-hidden="true"></i></a>
                <a href="#">Flask</a>
                <a href="#">Scrapy</a>
                <a href="#">Python</a>
                <a href="#">Docker</a>
            </span>
        </article>
        {% endfor %}
    </div>

    {% include "pagination.html" with page=posts %}
    
</section>
{% endblock %}