{% extends 'posts/base.html' %}
{% block title %}Login{% endblock %}

{% block content%}
<section>
    <div class="content">
        <div class="row">
            <!-- Break -->
            <div class="col-12 col-12-medium">
                <h2>Login</h2>
                {% if form.errors %}
                <p>Your username and password didn't match. Please try again</p>
                {% endif %}
                <form action="{% url 'posts:login' %}" method="post">
                    {{ form.as_p}}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    <p><input type="submit" value="Login"></p>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}